<template>
  <div
    class="text-xs uppercase px-2 py-1 rounded-xl text-center inline-block"
    :class="bgColor"
  >
    {{ status.name }}
  </div>
</template>

<script>
export default {
  name: "FeedbackStatus",
  props: {
    status: Object,
  },
  computed: {
    bgColor() {
      if (this.status.id === 1) {
        return "bg-yellow-200 text-yellow-700";
      } else if (this.status.id === 2) {
        return "bg-red-200 text-red-700";
      } else if (this.status.id === 3) {
        return "bg-green-200 text-green-700";
      }
      return "bg-gray-300 text-gray-700";
    },
  },
};
</script>