<template>
  <button
    @click="$emit('buttonClick')"
    class="
      group
      bg-gray-300
      py-1
      px-2.5
      text-2xl
      rounded-md
      mr-3
      transition
      hover:opacity-70
    "
  >
    <div class="transform transition duration-200 group-hover:rotate-180">
      🗘
    </div>
  </button>
</template>

<script>
export default {
  name: "RefreshButton",
};
</script>