<template>
  <div class="flex flex-col flex-grow overflow-x-hidden overflow-y-hidden">
    <div class="bg-gray-200 w-full flex justify-between items-center">
      <h1 class="text-2xl font-semibold p-4 text-blue-700">Home</h1>
      <RefreshButton @buttonClick="getGameStates()" />
    </div>
    <div class="flex flex-grow flex-col overflow-y-auto p-6">
      <h2 class="font-semibold text-2xl mb-4">
        Currently active rooms: {{ Object.keys(gameStates).length }}
      </h2>
      <div
        v-for="roomCode in Object.keys(gameStates)"
        :key="'Room' + roomCode"
        class="ml-4"
      >
        <h3 class="text-xl font-semibold">Room {{ roomCode }}</h3>
        <div class="mb-4 ml-4">
          <div>
            <span class="font-semibold">Round: </span>
            {{ gameStates[roomCode].public.round }}
          </div>
          <div>
            <span class="font-semibold">Turn ID: </span>
            {{ gameStates[roomCode].turnID }}
          </div>
          <div>
            <span class="font-semibold">
              Players ({{ gameStates[roomCode].public.joinOrder.length }}):
            </span>
            <span
              v-for="player in Object.values(
                gameStates[roomCode].public.players
              )"
              :key="'Player ' + player.name"
              >{{ player.name }},
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import RefreshButton from "../components/RefreshButton";

export default {
  name: "Home",
  components: { RefreshButton },
  data() {
    return {
      gameStates: {},
    };
  },
  mounted() {
    this.getGameStates();
  },
  methods: {
    getGameStates() {
      this.axios
        .get("/gamedata/getgamestates")
        .then((gameStates) => {
          this.gameStates = gameStates.data.gameStates;
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
};
</script>
