<template>
  <div class="flex flex-col flex-grow overflow-x-hidden overflow-y-auto">
    <div class="bg-gray-200 w-full flex justify-between items-center">
      <h1 class="text-2xl font-semibold p-4 text-blue-700">Stats</h1>
      <RefreshButton @buttonClick="getStats()" />
    </div>
    <div class="overflow-y-scroll">
      <div class="p-8 flex overflow-x-auto w-full text-center">
        <div class="p-8 flex flex-col">
          <h2 class="text-xl mb-3">Categories</h2>
          <p class="text-4xl">{{ dataCounts.categories }}</p>
        </div>
        <div class="p-8 flex flex-col">
          <h2 class="text-xl mb-3">Topics</h2>
          <p class="text-4xl">{{ dataCounts.topics }}</p>
        </div>
        <div class="p-8 flex flex-col">
          <h2 class="text-xl mb-3">Keywords</h2>
          <p class="text-4xl">{{ dataCounts.keywords }}</p>
        </div>
        <div class="p-8 flex flex-col">
          <h2 class="text-xl mb-3">Feedbacks</h2>
          <p class="text-4xl">{{ dataCounts.feedbacks }}</p>
        </div>
        <div class="p-8 flex flex-col">
          <h2 class="text-xl mb-3">Turns</h2>
          <p class="text-4xl">{{ dataCounts.turns }}</p>
        </div>
      </div>
      <div
        class="
          p-8
          flex flex-col
          overflow-x-auto
          overlfow-y-none
          w-full
          border-t-2 border-gray-200
        "
      >
        <apexchart
          type="line"
          :options="options"
          :series="series"
          class="max-w-2xl min-w-96"
        ></apexchart>
      </div>
    </div>
  </div>
</template>

<script>
import RefreshButton from "../components/RefreshButton";

export default {
  name: "Stats",
  components: { RefreshButton },
  data() {
    return {
      dataCounts: {},
      turnHistory: [],
    };
  },
  mounted() {
    this.getStats();
  },
  computed: {
    options: function () {
      return {
        chart: {
          type: "line",
          stacked: false,
          zoom: {
            type: "x",
            enable: true,
            autoScaleYaxis: true,
          },
        },
        dataLabels: {
          enabled: false,
        },
        markers: {
          size: 0,
        },
        title: {
          text: "Turns per day",
          align: "left",
        },
        yaxis: {
          title: "Turns",
          min: 0,
        },
        xaxis: {
          type: "datetime",
        },
        tooltip: {
          shared: false,
        },
      };
    },
    series: function () {
      return [
        {
          name: "Turn counts",
          data: this.turnHistory,
        },
      ];
    },
  },
  methods: {
    getStats() {
      this.getDataCounts();
      this.getTurnHistory();
    },
    getDataCounts() {
      this.axios
        .get("/stats/getdatacounts")
        .then((response) => {
          this.dataCounts = response.data.data;
        })
        .catch((err) => {
          this.$dialog.alert("Error", err.response.data.message, "error");
        });
    },
    getTurnHistory() {
      this.axios
        .get("/stats/getturnhistory")
        .then((response) => {
          this.turnHistory = [];
          for (let date of response.data.data) {
            this.turnHistory.push({
              x: new Date(date.day),
              y: date.count,
            });
          }
        })
        .catch((err) => {
          this.$dialog.alert("Error", err.response.data.message, "error");
        });
    },
  },
};
</script>
