<template>
  <div
    id="app"
    class="
      font-sans
      text-gray-700
      max-w-full
      min-h-screen
      max-h-screen
      flex flex-col
    "
  >
    <Navbar v-if="$route.name !== 'Login'" />
    <main
      class="flex flex-col flex-grow sm:flex-row max-w-full overflow-y-hidden"
    >
      <Sidebar v-if="$route.name !== 'Login'" />
      <router-view />
    </main>
  </div>
</template>

<script>
import Navbar from "./components/Navbar";
import Sidebar from "./components/Sidebar";

export default {
  name: "App",
  components: { Navbar, Sidebar },
};
</script>